@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/Arial.woff2') format('woff2'),
    url('../../assets/fonts/arial/Arial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
    url('../../assets/fonts/georgia/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/Arial-Italic.woff2') format('woff2'),
    url('../../assets/fonts/arial/Arial-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

body.no-scroll {
    overflow: hidden;
}

h1, h2, h3, h4, p, ul, span {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

button {
    cursor: pointer;
}

[class*=__container] {
    max-width: 80rem;
}

.not-only__button:hover,
.pets__button:hover {
    background-color: white;
    transform: scale(1.03);
}

/*Header styles starts*/

header {
    position: relative;
}

.header__container {
    padding-top: 1.875rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.header__main-link {
    padding-left: 2.5rem;
}

.header__logo-container {
    display: flex;
    flex-direction: column;
}

.header__name {
    color: #F1CDB3;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 0.625rem;
}

.header__motto {
    color: #FFFFFF;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 0.938rem;
    letter-spacing: 0.1em;
    padding-left: 0.25rem;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    gap: 2.25rem;
    padding-bottom: 0.188rem;
    padding-right: 2.5rem;
}

.navbar__item {
    color: #CDCDCD;
}

.navbar__link {
    font-family: 'Arial', serif;
    font-style: normal;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 160%;
    padding-bottom: 0.188rem;
}

.navbar__link:hover,
.nav-active {
    color: #FAFAFA;
    border-bottom: 0.188rem solid #F1CDB3;
}

.burger {
    display: none;
    border: none;
    background: none;
    margin-right: 1.25rem;
    cursor: pointer;
    padding: 0;
    transition: ease all 1s;
}

.burger span {
    display: block;
    width: 1.688rem;
    background-color: #F1CDB3;
    margin: 0.438rem 0;
    border: 0.125rem solid #F1CDB3;
}

.burger-opened {
    transform: rotate(90deg);
    transition: ease all 1s;
}

/*Header styles ends*/

/*Not-only styles starts*/

.main-page__not-only {
    padding-top: 5.625rem;
    background-size: cover;
    background-image: url(../../assets/images/start-screen-gradient-background.png);
}

.not-only__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.not-only__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 37%;
    padding-left: 2.5rem;
    margin-right: 1.75rem;
}

.not-only__heading {
    width: 67.8%;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 0.625rem;
    margin-bottom: 2.625rem;
}

.not-only__subheading {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 2.625rem;
}

.not-only__button {
    transition: all 1s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 130%;
    color: #292929;
    letter-spacing: 0.06em;
    background: #F1CDB3;
    width: 12.938rem;
    height: 3.25rem;
    border: none;
    border-radius: 6.25rem;
}

.not-only__button a {
    padding: 0.938rem 1.563rem;
}

.not-only__puppy {
    padding-top: 5.625rem;
    display: flex;
}

.not-only__puppy img {
    max-width: 100%;
}

/*Not-only styles ends*/

/*About styles starts*/

.about__container {
    display: flex;
    justify-content: center;
    padding-top: 3.625rem;
    margin: 0 auto 6rem;
}

.about__content {
    width: 34%;
    display: flex;
    flex-direction: column;
}

.about__heading {
    width: 86.24%;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 1.563rem;
    padding-top: 2.188rem;
    padding-left: 0.125rem;
}

.about__subheading-top {
    margin-bottom: 1.563rem;
}

.about__sub {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 160%;
    color: #4C4C4C;
    padding-right: 0.313rem;
    padding-left: 0.125rem;
}

.about__pets {
    margin-right: 7.5rem;
    padding-top: 1.375rem;
}

/*About styles ends*/

/*Pets styles starts*/

.main-page__pets {
    background: #F6F6F6;
}

.pets__container {
    display: flex;
    flex-direction: column;
    padding-top: 5.063rem;
    margin: 0 auto;
}

.pets__heading {
    align-self: center;
    width: 33.33%;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
    margin-bottom: 3.75rem;
}

.pets__slider-button {
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center center;
    width: 0.875rem;
    height: 0.375rem;
    padding: 1.5rem;
    background-image: url("../../assets/icons/slider-arrow.png");
    border: 0.125rem solid #F1CDB3;
    border-radius: 6.25rem;
}

.pets__previous-card {
    transform: rotate(-180deg);
}

.pets__slider {
    display: flex;
    align-items: center;
    margin-bottom: 3.625rem;
    gap: 3.313rem;
    justify-content: center;
    flex-wrap: wrap;
}

.pets__card {
    transition: all 1.5s ease 0s;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFAFA;
}

.pets__card:hover {
    transform: scale(1.03);
}

.p-card1, .p-card2 {
    margin-right: 2.313rem;
}

.pe-name {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.438rem;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 1.563rem;
    margin-bottom: 1.75rem;
}

.pe-button {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 0.938rem 2.813rem;
    border: 0.125rem solid #F1CDB3;
    border-radius: 6.25rem;
    background-color: inherit;
    margin-bottom: 1.875rem;
}

.pe-button:hover {
    background: #F1CDB3;
}

.pets__button {
    transition: all 1s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 6.25rem;
    border: none;
    width: 16.313rem;
    height: 3.25rem;
    margin-bottom: 6.25rem;
}

.pets__button a {
    color: inherit;
    padding: 0.938rem 1.875rem;
}

/*Pets styles ends*/

/*Help styles starts*/

.help__container {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 6.25rem;
}

.help__heading {
    width: 26%;
    text-align: center;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 3.75rem;
}

.help__list {
    width: 85.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7.438rem;
    row-gap: 3.563rem;
}

.help__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__text {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding-top: 1.5rem;
}

/*Help styles ends*/

/*Donation styles starts*/

.main-page__donation {
    background: #F6F6F6;
}

.donation__dog {
    padding-top: 0.438rem;
}

.donation__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 6.25rem;
    gap: 1.938rem;
}

.donation__content {
    width: 29.68%;
}

.donation__heading {
    width: 78.94%;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 1.25rem;
}

.donation__subheading {
    display: inline-block;
    margin-bottom: 1.125rem;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.donation__credit-card {
    display: flex;
    justify-content: center;
    width: 91.84%;
    background: #F1CDB3;
    border-radius: 0.563rem;
    margin-bottom: 1.25rem;
}

.credit-card__content {
    display: flex;
    width: 91.40%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.credit-card__icon {
    margin-right: 0.875rem;
}

.credit-card__number {
    display: inline-block;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.credit-card__number:visited {
    color: #545454;
}

.donation__legal-information {
    font-family: 'Arial', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    color: #B2B2B2;
}

/*Donation styles ends*/

/*Footer styles starts*/

.footer {
    background-size: cover;
    background-image: url(../../assets/images/footer-gradient-background.png);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 2.5rem;
}

.footer_puppy img {
    margin-bottom: -0.25rem;
    padding-right: 2.5rem;
}

.footer__contacts {
    width: 23.4%;
    padding-top: 1rem;
    padding-left: 2.5rem;
}

.contacts__title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}

.contacts__email {
    display: flex;
    align-items: center;
    margin-bottom: 2.188rem;
}

.contacts__email-icon {
    margin-right: 1.25rem;
}

.contacts__direct-email {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.contacts__phone {
    display: flex;
}

.contacts__phone-icon {
    margin-right: 1.25rem;
}

.contacts__direct-phone {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0.313rem;
}

.footer__locations {
    width: 25%;
    padding-top: 1rem;
}

.locations__title {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 2.125rem;
}

.locations__boston {
    display: flex;
    margin-bottom: 2rem;
}

.boston__nav-icon,
.london__nav-icon {
    margin-right: 1.25rem;
}

.boston__nav-address {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.locations__london {
    display: flex;
}

.london__nav-address {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-top: 0.25rem;
}

.footer a:visited {
    color: #F1CDB3;
}

.footer a:hover,
.credit-card__number:hover {
    color: white;
}

/*Footer styles ends*/

/*Media 768 starts*/

@media screen and (max-width: 1200px) {

    .p-card3 {
        display: none;
    }

}

@media screen and (max-width: 1050px) {

    /*Header 768 starts*/
    .header__main-link {
        padding-left: 2rem;
    }

    .navbar__list {
        gap: 2.188rem;
        padding-right: 2rem;
    }

    /*Header 768 ends*/

    /*Not only 768 starts*/

    .not-only__container {
        flex-direction: column;
        margin-top: 3.125rem;
    }

    .not-only__content {
        width: 61%;
    }

    .not-only__button {
        align-self: center;
        margin-right: 0.875rem;
    }

    .not-only__puppy {
        justify-content: flex-end;
        padding-top: 6.25rem;
    }

    .not-only__puppy img {
        max-width: 81.4%;
    }

    /*Not only 768 ends*/

    /*About 768 starts*/

    .about__container {
        flex-direction: column;
        align-items: center;
        padding-top: 5rem;
    }

    .about__pets {
        order: 2;
        margin-right: 0;
        padding-top: 0;
    }

    .about__content {
        width: 57%;
        margin-bottom: 5rem;
    }

    .about__heading {
        padding-top: 0;
    }

    /*About 768 ends*/

    /*Pets 768 starts*/

    .pets__heading {
        width: 53%;
    }

    .pets__slider {
        gap: 0;
        justify-content: space-evenly;
    }

    .p-card1 {
        margin-right: 1.875rem;
    }

    .p-card2 {
        margin-right: 0;
    }

    .pets__previous-card {
        margin-left: 1.25rem;
        margin-bottom: 0.313rem;
    }

    .pets__next-card {
        margin-right: 1.25rem;
        margin-bottom: 0.313rem;
    }

    .pe-name {
        margin-bottom: 1.6rem;
    }

    /*Pets 768 ends*/

    /*Help 768 starts*/

    .help__heading {
        width: 41%;
    }

    .help__list {
        gap: 0;
        justify-content: space-between;
        row-gap: 3.563rem;
        width: 82%;
    }

    .help__item {
        width: 27%;
    }

    /*Help 768 ends*/

    /*Donation 768 starts*/

    .donation__container {
        flex-direction: column;
        padding-bottom: 6rem;
    }

    .donation__dog {
        order: 2;
        padding-top: 1.8rem;
    }

    .donation__content {
        width: 49.5%;
    }

    .donation__subheading {
        margin-bottom: 1.25rem;
    }

    /*Donation 768 ends*/

    /*Footer 768 starts*/

    .footer__container {
        flex-wrap: wrap;
        padding-top: 1.875rem;
        justify-content: space-evenly;
        row-gap: 3.75rem;
    }

    .footer__contacts {
        width: 36.8%;
        padding: 0 0 0 0.313rem;
    }

    .footer__locations {
        width: 39.3%;
        padding: 0;
        margin-right: 0.313rem;
    }

    .footer_puppy {
        width: 44%;
    }

    .footer_puppy img {
        padding-left: 1.188rem;
        padding-right: 0;
    }

    /*Footer 768 ends*/

}

/*Media 768 ends*/

/*Media 320 starts*/

@media screen and (max-width: 767px){
    .header__navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        background-color: #292929;
        opacity: 0;
        height: 100%;
        width: 320px;
        top: 0;
        right: -100%;
        transition: opacity .5s ease, right .5s ease;
        z-index: 2;
    }

    .header-active {
        right: 0;
        opacity: 1;
    }

    .burger {
        display: block;
        z-index: 3;
    }

    .nav-active:visited {
        color: #FAFAFA;
    }

    .navbar__list {
        flex-direction: column;
        align-items: center;
        width: 76%;
        margin: 0;
        padding: 0;
    }

    .navbar__link {
        font-size: 32px;
    }

    .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(41, 41, 41, 0.6);
        z-index: 1;
        display: none;
    }

    .header-active ~ .header__overlay{
        display: block;
    }
}

@media screen and (max-width: 750px){
    .not-only__heading {
        font-size: 2.188rem;
        letter-spacing: 0.06em;
    }

    .about__content {
        width: 75%;
    }

    .donation__content {
        width: 60%;
    }
}

@media screen and (max-width: 715px) {
    .p-card2 {
        display: none;
    }

    .p-card1 {
        margin-left: 1.875rem;
    }

    .donation__content {
        width: 70%;
    }
}

@media screen and (max-width: 670px){
    .not-only__heading {
        font-size: 1.875rem;
        letter-spacing: 0.06em;
    }

    .about__content {
        width: 85%;
    }

    .help__heading {
        font-size: 1.875rem;
    }

    .donation__heading {
        font-size: 1.875rem;
    }

    .donation__content {
        width: 80%;
    }
}

@media screen and (max-width: 520px) {
    .pets__previous-card {
        order: 1;
    }

    .pets__next-card {
        order: 2;
    }

    .p-card1 {
        margin-left: 5.8rem;
        margin-right: 5.8rem;
        margin-bottom: 1.25rem;
    }

    .pets__heading {
        font-size: 1.875rem;
    }

    .donation__heading {
        font-size: 1.688rem;
    }

    .donation__content {
        width: 85%;
        margin-bottom: 0.75rem;
    }
}

@media screen and (max-width: 500px) {

    .donation__dog  img {
        max-width: 100%;
    }

    .footer_puppy img {
        max-width: 100%;
    }

    .header__main-link {
        padding-left: 1.2rem;
    }

    .not-only__content  {
        padding: 0;
        margin: 0;
        width: 93%;
        align-items: center;
    }

    .not-only__heading {
        font-size: 1.563rem;
        letter-spacing: 0.06em;
        text-align: center;
    }

    .not-only__subheading {
        text-align: center;
    }

    .not-only__button {
        margin: 0;
    }

    .not-only__puppy {
        padding-top: 6.5rem;
    }

    .not-only__puppy img{
       padding-right: 0.625rem;
    }

    .about__container {
        padding-top: 2.625rem;
        margin-bottom: 2.625rem;
    }

    .about__content {
        width: 93%;
        align-items: center;
        margin-bottom: 2.625rem;
    }

    .about__heading {
        letter-spacing: 0.06em;
        font-size: 1.563rem;
        text-align: center;
        padding-left: 0;
    }

    .about__sub {
        text-align: justify;
        width: 90%;
        padding-left: 0.2rem;
    }

    .about__subheading-top {
        margin-bottom: 1.375rem;
    }

    .about__pets {
        display: flex;
        justify-content: center;
    }

    .about__pets img {
        max-width: 86.5%;
    }

    .pets__container {
        padding-top: 2.625rem;
    }

    .pets__slider {
        margin-bottom: 2.5rem;
    }

    .pets__heading {
        width: 93%;
        font-size: 1.563rem;
        letter-spacing: 0.06em;
        text-align: center;
        margin-bottom: 2.625rem;
    }

    .pets__previous-card {
        order: 1;
    }

    .pets__next-card {
        order: 2;
    }

    .p-card1 {
        margin: 0 5.6rem 1.25rem;
    }

    .p-card2 {
        display: none;
    }

    .p-card1__pet-name {
        margin-bottom: 1.7rem;
    }

    .pets__slider-button {
        margin: 0;
    }

    .pets__next-card {
        margin-left: 0.688rem;
    }

    .pets__button {
        margin-bottom: 2.625rem;
    }

    .help__container {
        padding-top: 2.625rem;
        margin-bottom: 2.625rem;
    }

    .help__heading {
        width: 70%;
        font-size: 1.563rem;
        letter-spacing: 0.06em;
        text-align: center;
        margin-bottom: 2.625rem;
    }

    .help__list {
        width: 90.62%;
        row-gap: 1.9rem;
    }

    .help__item {
        width: 44.82%;
    }

    .help__text {
        font-size: 0.938rem;
        line-height: 110%;
        padding-top: 1rem;
    }

    .help__icon {
        padding-left: 0.625rem;
    }

    .help__icon img {
        width: 83.4%;
    }

    .donation__container {
        padding-top: 2.625rem;
        padding-bottom: 2.4rem;
    }

    .donation__content {
        width: 93%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .donation__heading {
        width: 75%;
        font-size: 1.563rem;
        text-align: center;
        margin: 0 0 1.25rem;
    }

    .donation__subheading {
        width: 92%;
        font-size: 0.938rem;
        line-height: 160%;
        letter-spacing: 0;
    }

    .donation__credit-card {
        width: 94%;
    }

    .credit-card__content {
        padding-bottom: 0.4rem;
    }

    .credit-card__number {
        font-size: 0.938rem;
        line-height: 110%;
        padding-top: 0.313rem;
        padding-left: 0.125rem;
    }

    .donation__legal-information {
        width: 93%;
        text-align: justify;
    }

    .donation__dog {
        padding: 0;
        width: 81.25%;
    }

    .footer__container {
        width: 93%;
        flex-direction: column;
        row-gap: 2.2rem;
    }

    .footer__contacts {
        width: 92%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .contacts__title {
        text-align: center;
        font-size: 1.563rem;
        padding-left: 0.875rem;
    }

    .footer__locations {
        width: 100%;
    }

    .locations__title {
        width: 90%;
        text-align: center;
        font-size: 1.563rem;
        padding-left: 0.938rem;
        margin-bottom: 2.5rem;
    }

    .contacts__email {
        justify-content: flex-end;
        padding-right: 0.313rem;
        padding-left: 1.125rem;
    }

    .contacts__direct-email {
        margin-bottom: 0.313rem;
    }

    .contacts__phone {
        justify-content: flex-end;
        padding-right: 0.688rem;
        padding-left: 1.438rem;
    }

    .locations__boston {
        margin-bottom: 2.5rem;
    }

    .boston__nav-icon {
        padding-top: 0.438rem;
    }

    .footer_puppy {
        width: 87.5%;
    }

}

/*Media 320 ends*/