@font-face {
    font-family: 'Arial';
    src: url('../../assets/fonts/arial/Arial.woff2') format('woff2'),
    url('../../assets/fonts/arial/Arial.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('../../assets/fonts/georgia/Georgia.woff2') format('woff2'),
    url('../../assets/fonts/georgia/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/*Header styles starts*/

header {
    position: relative;
}

.header__container {
    padding-top: 1.875rem;
    padding-left: 2.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93.75%;
    margin: 0 auto;
}

.header__logo-container {
    display: flex;
    flex-direction: column;
}

.header__name {
    color: #F1CDB3;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 0.625rem;
}

.header__motto {
    color: #FFFFFF;
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.813rem;
    line-height: 0.938rem;
    letter-spacing: 0.1em;
    padding-left: 0.25rem;
}

.navbar__list {
    display: flex;
    list-style-type: none;
    gap: 2.25rem;
    padding-bottom: 0.188rem;
}

.navbar__link {
    font-family: 'Arial', serif;
    font-style: normal;
    color: #CDCDCD;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 160%;
}

.navbar__link:hover {
    color: #FAFAFA;
    border-bottom: 0.188rem solid #F1CDB3;
}

/*Header styles ends*/

/*Not-only styles starts*/

.main-page__not-only {
    padding-top: 5.625rem;
    background-image: url(../../assets/images/start-screen-gradient-background.png);
}

.not-only__container {
    display: flex;
    align-items: center;
    width: 93.75%;
    margin: 0 auto;
}

.not-only__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 38.33%;
    margin-right: 2.7rem;
}

.not-only__heading {
    width: 67.8%;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.75rem;
    line-height: 130%;
    color: #FFFFFF;
    padding-top: 0.625rem;
    margin-bottom: 2.625rem;
}

.not-only__subheading {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 160%;
    color: #CDCDCD;
    margin-bottom: 2.625rem;
}

.not-only__button {
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.063rem;
    line-height: 130%;
    color: #292929;
    letter-spacing: 0.06em;
    background: #F1CDB3;
    padding: 0.938rem 2.813rem;
    border: none;
    border-radius: 6.25rem;
}

.not-only__puppy {
    padding-top: 5.625rem;
    display: flex;
}

/*Not-only styles ends*/

/*About styles starts*/

.about__container {
    display: flex;
    justify-content: center;
    width: 93.75%;
    margin: 0 auto;
    padding-top: 3.625rem;
}

.about__content {
    width: 35.83%;
}

.about__heading {
    width: 86.24%;
    font-family: 'Georgia', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.188rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 1.563rem;
}

.about__subheading-top {
    margin-bottom: 1.563rem;
}

.about__sub {
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.938rem;
    line-height: 160%;
    color: #4C4C4C;
}

.about__pets {
    margin-right: 7.5rem;
    padding-top: 1.375rem;
}

/*About styles ends*/